section header {
    text-align: center;
    margin-bottom: 20px;
}

section h2 {
	height:0;
	overflow: hidden;
	padding-top: 125px;
}

div#vertical-sep {
    border-left: 1px dashed #ccc;
}

.title {
    cursor: pointer;
    margin-top: 7px;
    margin-bottom: 2px;
}

.title > span {
    font-weight: bold;
}

.title > em {
	color: #006837;
	font-style: normal;
}

.title > strong {
	color: #F7931E;
	font-weight: normal;
}

.desc {
	background: #666;
	color: #FFF;
	padding: 14px;
	font-size: 0.8em;
}

.desc a.butt {
	float: right;
	background-color: #E9EBF4;
	color: #000;
	text-decoration: none;
	border: none;
	padding: 2px;
	font-size: 0.9em;
}

.desc a.butt:hover {
	color: #C1272D;
}

p.title:hover {
    background-color: #DAE8EB;
}

#profiles p.title:hover {
    background-color: #DAE8EB;
}

/* jobs section only */

section#jobs h2 {
	background: url(../img/title_jo.png) no-repeat;
}

#typekey span {
	border-width: 15px;
	padding-right: 15px;
}

.full, .part, .free {
	border-left: 4px solid;
	padding: 0 10px;
}

.full {
	border-color: #1080C3;
}

.part {
	border-color: #7AC943;
}

.free {
	border-color: #FF7BAC;
}

/* Profiles section only */

section#profiles h2 {
	background: url(../img/title_hire.png);
}

section#profiles p.title {
	background: url(../img/dev.png) left top no-repeat;
	padding-left: 26px;
}

