ul#top-bar {
    margin-top: 5px;
}

h1 {
	background: url(../img/python_jobs_logo.png) no-repeat;
	
    height: 0;
	overflow: hidden;
	padding-top: 58px;
}

.butt {
	border-radius: 10px;
	border: 1px solid;
	background-color: white;
	text-align: center;
	width: 7em;
	font-weight: bolder;
	font-size: 0.8em;
}

.butt:hover {
	color: #C1272D;
}

