body {
    font-family: helvetica, arial, sans-serif;
    width: 700px;
    margin: auto;
}

body > div > h1 {
	width: 175px;
	padding-top: 58px;
	height: 0;
	overflow: hidden;
	background: url(../img/python_jobs_logo.png);
	margin: 10px auto;
}

footer {
	clear: left;
	font-size: 0.8em;
}

