{% extends "project_base.html" %}
{% load i18n %}

{% block css %}
{{ block.super }}
        <link rel="stylesheet" href="{{ STATIC_URL }}css/job_list.css" />
{% endblock %}

{% block content %}
<h1>Python Jobs</h1>

<section id="openings"> <!-- openings section -->
	<header> <!-- openings section Header -->
		<h1>Job Openings</h1>
		<p class="butt addjob" id="add_job"><span>Add job</span></p>
	</header> <!-- END openings section Header -->
	
	<div> <!-- openings data -->
		<p id="typekey"><span class="full">Full-timer</span> <span class="part">Part-timer</span> <span class="free">Freelancer</span></p> <!-- type color key -->
		
		<ul> <!-- each item in that list is an opening -->
			{% for job in job_list.object_list %}
				<li>
					<p class="title {{ job.contract_type_as_html }}"><span>{{ job.title }}</span> @ <em>{{ job.location }}</em> for <strong>{{ job.employer }}</strong></p>
					<p class="desc" style="display: none;">{{ job.description }}<a class="butt" href="mailto:{{ job.posted_by.email }}?Subject={{ job.title }}">Apply</a></p>
				</li>
			{% endfor %}
		</ul> <!-- END opening list -->
		
	</div> <!-- END openings data -->
</section> <!-- END openings section -->

<section id="profiles"> <!-- Developers profiles section -->
	<header> <!-- profiles section Header -->
		<h1>Hire me</h1>
		<p class="butt addprofile"><span onclick="alert('add profile');">Add Profile</span></p>
	</header> <!-- END profiles section Header -->
	
	<div> <!-- profiles data -->
	<ul> <!-- each item in that list is a developer profile -->
		{% for profile in freelancer_profile_list.object_list %}
			<li>
				<p class="title">{{ profile.title }}</p>
				<p class="desc" style="display: none;">{{ profile.description }}<a class="butt" href="mailto:{{ profile.owner.email }}">Contact</a>
				</p>
			</li>
		{% endfor %}
	</ul> <!-- END profiles list -->
	</div> <!-- END profiles data -->
</section> <!-- END Developers profiles section -->

<div id="modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3></h3>
    </div>
    <div class="modal-body">
    </div>
    <div class="modal-footer">
        <button class="btn submit"></button>
    </div>
</div>

{% endblock content %}

{% block javascript %}
<script type="text/javascript">
    $(function() {
        $('ul > li > p.title').click(function() {
            var $li = $(this).parent();
            if ($li.hasClass('expanded')) {
                $li.find('p.desc').slideToggle('slow', function() {
                    $li.toggleClass('expanded');
                })
            } else {
                $li.toggleClass('expanded')
                   .find('p.desc').slideToggle('slow');
            }
        })
    })

    $("#modal").modal({
        backdrop: "static", //cannot exit by clicking outside
        show: false //hide initially
    });
    
    function job_board_setup_modal(title, button_text, url) {
        /* return the click handler that will show the modal
         * title: title of the modal
         * button_text: text on the button at the bottom
         * url: url to get or post the form
         */
        return function() {
            /* click handler */
            $("#modal h3").text(title);
            $("#modal button.submit").text(button_text);
            $("#modal > div.modal-body").load(url); //get the form
            
            $("#modal button.submit").unbind('click').click(function() {
                $.ajax({
                    type: 'POST',
                    url: "{% url add_job %}",
                    data: $("#modal form").serialize(),
                    success: function(data, status) {
                        /* if status is redirect - data has been added, go back to homepage with new data
                         * else form has validation errors, show them
                         */
                    },
                    error: function(xhr, status, error) {
                        //display error message, ask user to try again later.
                    }
                });
            });
            
            $('#modal').modal('show');
        };
    }
    
    $("#add_job").click(job_board_setup_modal(
        "Write your job description here",
        "Add job",
        "{% url add_job %}"
    ));
</script>
{% endblock %}

